.chat-window-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-window-container form {
  position: fixed;
  bottom: 5%;
  display: flex;
  width: 50%;
  margin-left: 2rem;
}

.chat-window-container form input {
  background-color: rgba(0, 0, 0, 0.477);
  border:none;
  height:3rem;
  padding-left:2rem;
  /* border-radius: 1rem 0 0 1rem ; */
}

.chat-window-container form button {
  margin-right: 5%;
  height: 3rem;
  border: none;
  width:5rem;
  background-color: rgba(8, 0, 255, 0.222);
  color:white; 
  /* border-radius: 0 1rem 1rem 0 ; */

}

.message-container {
  padding: 2rem;
  overflow: auto;
  
  
}
.scrollref{
  height: 3rem;
  /* border: 2px solid white; */
}