.chatroom {
  display: flex;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}

/* Left and Right Panels */
.left-panel,
.right-panel {
  width: 5%;
  background-color: #a8e5df2b;
  transition: width 0.3s ease;
  border: 5px rgba(255, 255, 255, 0.493) solid;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  position: relative;
  /* height: 80vh; */
}

.left-panel .toggle-btn {
  position: absolute; 
  right: -1rem; 
  top: -1rem;
}

.right-panel .toggle-btn {
  position: absolute;
  left: -1rem; 
  top: -1rem;
}

.left-panel.expanded,
.right-panel.expanded {
  width: 33%;
}

.left-panel{
  border-radius: 0 1rem 1rem 0;
  border-left:none;
}
.right-panel{
  border-radius: 1rem 0 0 1rem;
  border-right:none;
}

/* Message Window */
.message-window {
  flex-grow: 1;
  background-color: #a8e5df5a;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 2rem;
  border: 5px #a8e5df5a solid;
}

.message-content {
  flex-grow: 1;
  overflow-y: auto;
}

.message-input-wrapper {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin: 2rem 5rem;
}

input[type="text"] {
  flex-grow: 1;
  /* margin: 2rem 5rem; */
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  background-color: #a8e5df5a;
}

button {
  font-size: 1.2rem;
  background-color: #a8e5df5a;
  color: white;
  border: none;
  margin: 1rem;;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

/* Toggle Button */
.toggle-btn {
 padding: 0;
 background-color: transparent;
 border: none;
 cursor: pointer;
 outline: none;
}
.react-icons-chatroom{
  font-size: 4rem;
  /* position: relative; */
}

.slider-btns{
  /* background-color: #a8e5df5a; */
  text-align: center;
  width: 100%;
}
.slider-btns button{
  background-color: #a8e5df5a;
  border: none;
  border-radius: 0;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.2rem;
  transition: background-color 0.3s ease;
}
.slider-btns .activated-left{
  background-color: #2d2d2d;
  border-radius: 0.2rem 0.2rem 2rem 0.2rem; 

}
.slider-btns .activated-right{
  background-color: #2d2d2d;
  border-radius: 0.2rem 0.2rem 0.2rem 2rem; 
}

.flex-list{
  display: flex;
}
.chatroom-item{
  display: flex;
  background-color: #ffffff72;
  justify-content: left;
  padding:1rem;
  border-radius: 0.3rem;
  margin: 1rem;
  cursor: pointer;
}
.chatroom-item:hover{
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.chatroom-item-body{
  margin-left: 1rem;
}
.chatroom-item-body h5{
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}
.chatroom-item-body p{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #504f4f;
}
.chatroom-item-body h6{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  margin-top:1rem;
  color: #504f4f;
}

.convo-starter{
  display:flex;
}

.react-icons-contacts{
  font-size: 2rem;
  margin-right: 1rem;
  color: #504f4f;
  position: relative;
  top: 0.5rem;
  left:1rem;
}

.matchcard-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  color: rgba(0, 0, 0, 0.65);
  background-color: #5bcabf;
  border: 5px rgba(0, 0, 0, 0.571) solid;
  padding: 1rem;

}

.matchcard-container .header{
  width: 100%;

}
.matchcard-container .body {
  filter: blur(5px);
}