.chatroom {
  display: flex;
}

/* Left and Right Panels */
.left-panel,
.right-panel {
  width: 5%;
  background-color: #a8e5df2b;
  transition: width 0.3s ease;
  border: 5px rgba(255, 255, 255, 0.493) solid;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  position: relative;
}

.left-panel .toggle-btn {
  position: absolute;
  right: 0; /* Aligns to the right of the left panel */
  top: 10px; /* Adjust vertical position as needed */
}

.right-panel .toggle-btn {
  position: absolute;
  left: 0; /* Aligns to the left of the right panel */
  top: 10px; /* Adjust vertical position as needed */
}

.left-panel.expanded,
.right-panel.expanded {
  width: 33%;
}

.left-panel{
  border-radius: 0 1rem 1rem 0;
  border-left:none;
}
.right-panel{
  border-radius: 1rem 0 0 1rem;
  border-right:none;
}

/* Message Window */
.message-window {
  flex-grow: 1;
  background-color: #a8e5df5a;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  height: 80vh;
  border-radius: 2rem;
  border: 5px #a8e5df5a solid;
}

.message-content {
  flex-grow: 1;
  overflow-y: auto;
}

.message-input-wrapper {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin: 2rem 5rem;
}

input[type="text"] {
  flex-grow: 1;
  /* margin: 2rem 5rem; */
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  background-color: #a8e5df5a;
}

button {
  font-size: 1.2rem;
  background-color: #a8e5df5a;
  color: white;
  border: none;
  margin: 1rem;;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

/* Toggle Button */
.toggle-btn {
 padding: 0;
 background-color: transparent;
 border: none;
 cursor: pointer;
 outline: none;
}