.message {
  color: white;
  display: flex;
  font-size: 1.2rem;
}

.msg-inner-container img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  top: 0.5rem;
}

.msg-inner-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.408);
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.message span {
  font-size: 0.6rem;
}

.sent .msg-inner-container {
  background-color: rgba(39, 39, 101, 0.247);

}

.received {
  justify-content: flex-end;
}

.sent img {
  margin-right: 1rem;
}

.received img {
  margin-left: 1rem;
}