
body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #474747;
    background: #a0c1d6;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 100%;
    max-width: 50rem;
    height: auto;
    display: flex;
}
.col-left-container {
  position: relative;
  bottom:1.5rem;
}
.col-left-container label{
  visibility: hidden;
}

h2 {
  position: relative;
  margin: 0 0 15px 0;
  padding-bottom: 10px;
}
form input {
    margin: 0 0 20px 0;
    text-align: left;
    color: #666666;
    font-size: 1rem;
    display: block;
    width: 100%;
    height: 2rem;
    padding: 0;
    border-color: transparent transparent #44c7f5 transparent;
    outline:none;
}
form input:last-child {
    margin: 0;
}
form input a {
    color: #44c7f5;
    font-size: 14px;
    text-decoration: none;
}
form input:focus {
  border-color: transparent transparent #bbaaff transparent;
}
.fields-container input {
  padding:0;
}
.col-left,
.col-right {
    position: relative;
    width: 50%;
    padding: 2rem;
    border-radius: 1rem;
}
.col-left {
    margin-right: 1rem;
    background: #ffffff;
}
.col-right {
    background: #ffffff;
}
.col-right form{
  display: flex;
  flex-direction: column;
}
.col-right form select {
  margin-bottom:1rem;
}

select{
  display: block;
  width: 100%;
  height: 2rem;
  padding: 0;
  border-color: transparent transparent #44c7f5 transparent;
  font-size: 1rem;
  outline:none;
  margin-top:2rem;
}
.consent{
  display:flex;
}
.consent label, .consent input{
  margin-top: 2rem;
  margin-bottom:2rem;
  width:unset;
  text-align: left;
}
.consent label{
  margin-left:1rem;
  font-size: 0.8rem;
}
.consent input{
  width:3rem;
}


/* // ----- // BUTTONS  */

.btn {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 1rem;
  margin-bottom:1rem;
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 1px;
  background: #0092c8;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.submit-form-btn{
  padding:0 !important;
}
.btn.btn-go {
  background: #a791ff;
}
.btn.btn-fb {
  background: #a791ff;
}
.btn:hover {
  background: #bbaaff;
}
.btn-back {
  padding: 0.5rem;
  background-color: white;
  color: #2e85a4;
  text-align: left;
  font-size: 1rem;
  position: relative;
  right:1rem;
  top:-1rem;
}
.btn-back:hover{
  background-color: white;
  color: #bbaaff;
}

.sub-container{
  display: flex;
}

/* .login-with-container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  min-height:100%;
} */
.login-with-container h2{
  position: relative;
}
.login-with-container .btn{
  margin-top:1rem;
}

.btn-sub{
  position: relative;
  display: inline-block;
  width: 100%;
  color: #2e85a4;
  padding: 0.5rem;
  background: none;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}
.btn-sub:hover{
  text-decoration: underline;
  color: #bbaaff;
  background-color: transparent;
  
}
@media(max-width: 570px) {
    .container {
        flex-direction: column;
    }
    
    .col-left,
    .col-right {
        margin: 0 auto;
        padding: 2rem;
    }
    
    .col-right {
        margin-top:1rem;
    }
}