
body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #474747;
    background: #768a9e;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container {
    position: relative;
    width: 100%;
    max-width: 50rem;
    height: auto;
    display: flex;
}
h2 {
    position: relative;
    margin: 0 0 15px 0;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
}
input {
    margin: 0 0 20px 0;
    text-align: left;
    color: #666666;
    font-size: 15px;
}
input:last-child {
    margin: 0;
}
input a {
    color: #44c7f5;
    font-size: 14px;
    text-decoration: none;
}
.col-left,
.col-right {
    position: relative;
    width: 50%;
    padding: 2rem;
    border-radius: 1rem;
}
.col-left {
    margin-right: 1rem;
    background: #ffffff;
}
.col-right {
    background: #ffffff;
}

@media(max-width: 570) {
    .container {
        flex-direction: column;
    }
    
    .col-left,
    .col-right {
        margin: 0 auto;
        padding: 2rem;
    }
    
    .col-right {
        margin-top:1rem;
    }
}


.login-container input {
    display: block;
    width: 100%;
    height: 2rem;
    padding: 0;
    border-color: transparent transparent #44c7f5 transparent;
    font-size: 1rem;
}
.login-container input:focus {
    border-color: transparent transparent #ff574e transparent;
}
.btn {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 0;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    background: #44c7f5;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
.btn.btn-go {
  background: #3300ff;
}
.btn.btn-fb {
  background: #3300ff;
}
.btn:hover {
  background: #bbaaff;
}
.btn-forgot{
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
  text-align: right;
  color: #44c7f5;
  padding: 0.5rem;
  background: none;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}
.btn-forgot:hover{
  text-decoration: underline;
  color: #bbaaff;

}