.react-icons-profile {
  font-size: 2rem;
}

.profile-image {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  border-radius: 15%;
}

.image-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.profile-body{
  margin-left:2rem;
}
.profile-body .body{
  margin-top:1rem;
  padding-bottom:2rem;
  border-bottom: 1px solid black;

}

.profile-body p, h4{
  margin:0.5rem;
}
.profile-body p.details, p.story{
  margin-left:2rem;
}

.edit-user-details{
  display: flex;
  margin-top:1rem;
}

.edit-user-details p{
  background-color: #31605b;
  color:white;
  padding:1rem;
  border-radius:0.5rem;
  margin-top:1rem;
  display: flex;
  align-items: center;
  width: max-content;
}
.edit-user-details p span{
  margin-left:1rem;
}

.profile-btn:hover{
  background-color: #31605b76;
  color: white;
  cursor: pointer;
}