.back-btn:hover{
  cursor: pointer;

}
.accordion-handle:hover{
  cursor: pointer;
}

.auth-wrapper .back-btn{
  font-size: 1.2rem;
  font-weight: 900;
}

.back-btn-container{
  margin-top:1rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.react-icons-updatePanel{
  font-size: 2rem;
}

.accordion-handle{
  display: flex;
  justify-content: space-between;
}

.reg-section h6{
  margin:0 2rem;
  color: rgba(0, 0, 0, 0.421);
}