form .account-info-form{
  display: inline;
}
.auth-wrapper .back-btn{
  font-size: 1.2rem;
  font-weight: 900;
}

.back-btn-container{
  margin-top:1rem;
  display:flex;
  justify-content: center;
  align-items: center;
}
.back-btn:hover{
  cursor: pointer;
}
.react-icons-updatePanel{
  font-size: 2rem;
}

.accordion-handle{
  display: flex;
  justify-content: space-between;
  margin:0;

}
.accordion-handle h4{
  margin:0;
}
.accordion-handle:hover{
  cursor: pointer;
}

.reg-section h6{
  margin:0 2rem;
  color: rgba(0, 0, 0, 0.421);
}
#accConsent {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 1rem;
  display: flex;
}

#accConsent:checked {
  color: black;
}

.no-top-margin{
  margin-top: 0 !important;
}

.fields-container .inactive{
  background-color: rgb(215, 215, 215);
  color: rgb(179, 179, 179);
  pointer-events: none;
}

.display-none{
  display: none;
}