.dashboard-wrapper{
    margin: 0 auto;
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* profile--------------------- */

.profile-container{
    border:2px black solid;
    position: relative;
    width: 100%;
    max-width: 50rem;
    height: auto;
    display: flex;
}