.user-card {
  background-color: #ebebeb;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: all 0.3s ease-in-out;
}

.user-card:hover {
  /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); */
  cursor: pointer;
}

.user-card h3 {
  margin-top: 0;
}

.card-row {
  display: flex;
  margin-bottom: 10px;
}

.card-label {
  font-weight: bold;
}

.card-label,
.card-row span {
  font-size: 14px;
}

.card-row span {
  color: #000000;
}

.card-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.not-matched {
  color: red;
}

.matched {
  color: green;
}

.card-details {
  margin-top: 1rem;
}

.display-none {
  display: none;
}

.match-container {
  display: column;
  align-items: center;
  gap: 10px;
  margin: 1rem;
}

.sub-container {
  display: flex;
  margin: 1rem;
}


.sub-container input::placeholder {
  color: black;
}

.uid-input {

}

.uid-input:focus {
  outline: none;
  border-bottom: 1px solid #555555;
}

.uid-input::placeholder {
  color: #999999;
}

.selected {
  box-shadow: 0 0 0 0.3rem rgba(25, 0, 255, 0.369);
}

.hovered {
  background-color: rgba(25, 0, 255, 0.219);

}