.user-card {
  background-color: #ebebeb;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: all 0.3s ease-in-out;
}

.user-card:hover {
  cursor: pointer;
}

.user-card h3 {
  margin-top: 0;
}
.card-btn-container{
  border-radius: 1rem;
  overflow: hidden;
  width:max-content;
  border: #aeaeae7e solid 3px;
}
.matching-btns-container h5{
  text-align: center;
  margin: 0.5rem 0;
  padding: 0.5rem;  
  background-color: rgba(96, 96, 96, 0.534);
  color: White;
  border-radius: 0.5rem;
}
.quick-matching-options{
  display: flex;
  justify-content: space-evenly;
}
.quick-matching-options button{
  background-color: white;
  border-radius: 1rem;
  position: relative;
}
.quick-matching-options button:hover{
  background-color:  rgba(25, 0, 255, 0.369);
  color: white;
  cursor: pointer;
}


.tool-tip{
  background-color: rgba(25, 0, 255, 0.369) !important;
}

.card-row {
  display: flex;
  margin-bottom: 10px;
}

.card-label {
  font-weight: bold;
}

.card-label,
.card-row span {
  font-size: 14px;
}

.card-row span {
  color: #000000;
}

.card-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.sub-container input::placeholder {
  color: black;
}

.uid-input {
  margin: 0;
  padding: 0;
}

.uid-input:focus {
  outline: none;
  border-bottom: 1px solid #555555;
}

.uid-input::placeholder {
  color: #999999;
}
.sub-container {
  display: flex;
  margin: 1rem;
}

.card-details {
  margin-top: 1rem;
}

.selected {
  box-shadow: 0 0 0 0.3rem rgba(25, 0, 255, 0.369);
}

.hovered {
  background-color: rgba(25, 0, 255, 0.219);

}
.not-matched {
  color: red;
}

.matched {
  color: green;
}