.dashboard-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.display-card {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
  display: flex;
  width:70%;
  justify-content: center;
  margin:0 auto;
}

.sub-nav {
  display: flex;
  justify-content: center;
  margin:0 auto;
  width:70%;
  margin-top:1.5rem;
  margin-bottom:2rem;
}

.sub-nav div{
  padding:1rem;
  margin:0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow:1;
  transition: ease;
  transition-duration:0.2s;
}

.sub-nav div:hover{
  background-color:#d7f1ee ;
  border-left:1px rgba(0, 0, 0, 0.51) solid;
  color:rgba(0, 0, 0, 0.402);
  transform: scale(1.05);
  cursor: pointer;
}

.clicked{
  background-color:#d7f1ee ;
  border-left:1px rgba(0, 0, 0, 0.51) solid;
  color:rgba(0, 0, 0, 0.402);
  transform: scale(1.05);
  cursor: pointer; 
}

.sub-nav .notification{
  position: relative;
  top:1rem;
  left:-5rem;
  height: min-content;
  width: max-content;
  background-color: #ff0000;
  color: white;
  border-radius: 40%;
  padding: 0.5rem;
  font-size: 0.8rem;
}