.match-list-container{
  width:70%;
  margin: 0 auto;
}
.match{
  width:90%;
  margin-bottom:2rem;
  display:block;
}
.match img{
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right:1rem;
}
.left-col{
  display:flex;
  margin-right:2rem;
}
.right-col{
  flex-grow: 2;
}
.right-col p{
  margin-left:2rem;
}
.right-col .details{
  display:flex;
}
.convo-invitation{
  flex-grow: 2;
  display:flex;
  justify-content: center;
}

.convo-invitation p{
  margin:0;
}

.convo-invitation button{
  border: none;
  background-color: transparent;
  color: #31605b;

}

.convo-invitation button:hover{
  cursor: pointer;
}

.input-container-match{
  margin:0 auto;
  background-color: rgba(0, 0, 0, 0.085);
  padding:1rem;
  border-radius: 1rem;
  position: relative;
  top:2rem;
}
.input-container-match input{
  width:80%;
  margin-left:4rem;
  border: none;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.842);
  border-bottom: solid rgba(0, 0, 0, 0.327) 1px;

}
.match button{
  border: none;
  position: relative;
  margin:0;
  border-bottom: solid rgba(0, 0, 0, 0.327) 1px;
  background-color: transparent;
  color: #31605b;
}
.display-card-container{
  display: flex;
}

.match label {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.442);
  margin-bottom: 0.5rem;
  position: relative;
  bottom:0.6rem;
  left:0.5rem;
}