body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  font-size: 16px;
  font-weight: 400;
  /* height:100vh; */
}

.app-container{
  height:100vh;
  width:100vw;
  display: flex;
}

.app-inner-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.app-header{
  width:100%;
  min-height:6rem;
  text-align: center;
  margin:3rem 2rem 0 0 ;
  font-weight: 400;
  font-family: "Asap",sans-serif;
  color: #31605b;
}

.app-header h1 {
  border-bottom: 1px solid black;
  margin: 0;
  font-size:3rem;
  letter-spacing: .5rem;
  font-weight: 400;

}

.app-header p {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: .1rem;
}
