.nav-container {
  min-width: 14rem;
  color: white;
  background-color: #31605b;
  height:100%;

}

.logo-container {
  height: 10rem;
  border-bottom: white solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-placeholder{
  height:6rem;
  width:6rem;
  border-radius: 50%;
  border:white solid 1px;
  padding:0.5rem;
}
.logo-placeholder p{
  position: relative;
  top:0.5rem;
  text-align: center;
}

.nav-body ul {
  all: unset;
  margin:10%;
}

.nav-body ul li {
  padding: 1rem;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.nav-body ul li:hover {
  cursor: pointer;
  background-color: #2d5c57ae;
  color: rgba(255, 255, 255, 0.722);
}

.nav-body ul li span {
  margin-left: 1rem;
}