.nav-container {
  width: 15vw;
  color: white;
  background-color: #31605b;
  min-height:100%;
  position: fixed;
}
.nav-dummy{
  width:15vw;
}
.logo-container {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:2rem;
}
.logo-container img{
  height:10rem;
  width:10rem;
  border-radius: 50%;
  object-fit: cover;
}

.logo-container p{
  border-bottom: white solid 1px;
  width: 100%;
  text-align: center;
  margin:0;
  padding:0 0.5rem;
}
.logo-container :nth-child(3){
  border:none;
}
.nav-body{
  margin-top:2rem;
}

.nav-body ul {
  all: unset;
  margin:10%;
}

.nav-body ul li {
  padding: 1rem;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.nav-body ul li:hover {
  cursor: pointer;
  background-color: #2d5c57ae;
  color: rgba(255, 255, 255, 0.722);
}

.nav-body ul li span {
  margin-left: 1rem;
}




@media (max-width: 1115px) {
  .nav-container span{
    font-size: 0.7rem;
  }
  .logo-container img{
    height:7rem;
    width:7rem;
  }
}

@media (max-width: 920px) {
  .nav-container {
    width: 10vw;
    display: flex;
    flex-direction:column;
    align-items: center;
  }
  .nav-dummy{
    width:10vw;
  }
  .nav-body ul{
    list-style: none;
  }
  .nav-container span{
    display:none;
  }
  .logo-container{
    margin:0;
  }
  .logo-container img{
    height:4rem;
    width:4rem;
  }
  .logo-container p{
    display: none;
  }
}

@media (max-width: 645px) {
/* HAMBURGER MENU TIME */
}

.no-user-nav{
  color:#39716b!important;
}