.nav-container{
  height:90vh;
  min-width:15rem;
  text-align: center;
}
.profile{
  color:white;
  position: relative;
  top:3rem;
}
.profile img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.nav-body ul{
  height:75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  position: relative;
  bottom:1rem;
  padding:0;
  margin-left:1rem;
}
.nav-body ul li{
  list-style: none;
  color:white;
  line-height: 3rem;
}
.nav-body ul li:hover{
  background-color: rgba(255, 255, 255, 0.533);
  border-radius:5rem 0 0 5rem ;
  cursor: pointer;
}

.react-icons-nav{
  color:white;
  font-size:2rem;
  position: relative;
  top:0.5rem;
  /* right:1rem; */
  margin-left:2rem;
  margin-right:1rem;
}

.log-out{
  position: absolute;
  top:90vh;
  left:8vw;
  line-height: 2rem;
}
.log-out span.text{
  position: relative;
  top:0.3rem;
  /* right:0.5rem; */
  color:white;
}
.log-out:hover{
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: white ;
}
